@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

#timer {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 200px;
    font-size: 48px;
}

#timer *,
#currentRun .run * {
    color: #0453a0;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    -webkit-text-stroke: 1px #6e6e6e;
}

#currentRun .run * {
    position: absolute;
}

#currentRun .run * div {
    position: relative;
    left: -50%;
}

#currentRun .run .run-runners {
    top: 20px;
    left: 25%;
    font-size: 36px;
}

#currentRun .run .run-title {
    width: 100%;
    text-align: center;
    top: 0px;
    left: 75%;
    font-size: 42px;
}

#currentRun .run .run-console {
    top: 130px;
    left: 720px;
    font-size: 36px;
}

#currentRun .run .run-console div {
    position: relative;
    left: 0;
}

#currentRun .run .run-release-year {
    top: 130px;
    left: 1020px;
    font-size: 36px;
}

#currentRun .run .run-release-year div {
    position: relative;
    left: 0;
}

#currentRun .run .run-category {
    top: 70px;
    left: 75%;
    font-size: 32px;
}

#currentRun .run .run-estimate {
    top: 130px;
    left: 1220px;
    font-size: 36px;
}

#currentRun .run .run-estimate div {
    position: relative;
    left: 0;
}